.skills{
    background: $darkerBg;
    height: 40vh;
}



  .skillList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
  }
    
    
    li{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 20%

    }

    i{
        font-size: 3rem;
    padding: 20px;
    margin: 15px;
    }

    ul li:hover i {
    transform: scale(0.5);
    transition: 0.4s;
  }