
// Site Colours
$pinkPurp: #950ea3;
$blue: #6200eb;
$darkishBg: #1d1938;
$darkerBg: #18152e;
$highlight: #7a71bb;
$pinkPurpBlueGrad: linear-gradient(180deg, rgba(149,14,163,1) 0%, rgba(98,0,235,1) 100%);
$gradRgb: rgb(149,14,163);